body{
    background-color: #2C2560;
    
}
#test{
    font-size: 2.0em;
    text-align: center;
    margin-bottom: 15vh;
    color: #7FDBFF;
}
#block_1{
    height: 80vh;

    display: flex;
    justify-content: space-between;
    width: 97.5vw;
    padding: 0;
    margin-bottom: 10vh;
}
#block_2{
    margin-top: 5vh;
    height: 80vh;
    border: 2px solid #3F3680;
}
#article_1_block_1{
    height: 80vh;
    width: 40vw;

}
#article_2_block_1{
    height: 70vh;
    width: 56vw;
    border: 2px solid #3F3680;
    border-radius: 10px;
    color : #7FDBFF;
    /* overflow-y: scroll; */
    

}
#WordCloud{
    height: 67.4vh;
    width: 40vw;
    border: 2px solid #3F3680;
    border-radius: 10px;
}
#histogramme_obj{
    height: 38vh;
    width: 40vw;
    border: 2px solid #3F3680;
    margin-top: 3vh;
    border-radius: 10px;
}
#table_2{
    background-color: #3F3680;
}

.container {
    width: 50%;
    margin: 0 auto;
  }
  
  .basse li {
    display: inline;
    text-align: center;
  }
.lien{
    display: inline-block;
    width: 25%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #7FDBFF;
  }
  .two:hover ~ hr {
    margin-left: 25%;
  }
  
  .three:hover ~ hr {
    margin-left: 50%;
  }
  
  .four:hover ~ hr {
    margin-left: 75%;
  }
  
  hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
  }

.Erreur_G{
    
  color: white;
  overflow: hidden;
  height: 100%;
  user-select: none;
}
#logo{
  height: 55vh;
  background-image: url('emotinal_wheel.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:2vh ;
}
#table_data{
  height: 20vh;
  overflow-y: scroll;
}
#table_data tbody{
  overflow-y: scroll;
  height: 20vh;
}
.static {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    top: -100px;
    opacity: 0.05;
    z-index: 230;
    user-select: none;
    user-drag: none;
  }
  
  .error {
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 95px;
    font-style: italic;
    text-align: center;
    width: 100px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    right: 0;
    animation: noise 2s linear infinite;
    overflow: default;
  }
  
  .error:after {
    content: '404';
    font-family: 'Gilda Display', serif;
    font-size: 100px;
    font-style: italic;
    text-align: center;
    width: 150px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: blue;
    animation: noise-1 .2s linear infinite;
  }
  
  .info {
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    animation: noise-3 1s linear infinite;
  }
  
  .error:before {
    content: '404';
    font-family: 'Gilda Display', serif;
    font-size: 100px;
    font-style: italic;
    text-align: center;
    width: 100px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: red;
    animation: noise-2 .2s linear infinite;
  }
  
  @keyframes noise-1 {
    0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
    10% {opacity: .1;}
    50% {opacity: .5; left: -6px;}
    80% {opacity: .3;}
    100% {opacity: .6; left: 2px;}
  }
  
  @keyframes noise-2 {
    0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
    10% {opacity: .1;}
    50% {opacity: .5; left: 6px;}
    80% {opacity: .3;}
    100% {opacity: .6; left: -2px;}
  }
  
  @keyframes noise {
    0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
    4.3% {opacity: 1; transform: scaleY(1.7);}
    43% {opacity: 1; transform: scaleX(1.5);}
  }
  
  @keyframes noise-3 {
    0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
    4.3% {opacity: 1; transform: scaleY(4);}
    43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
  }

  #tete{
    height: 42vh;
    margin-bottom: 6vh;
    color: #7FDBFF;
    text-align: justify;
  }
  #lebas{
    margin-top: 6vh;
    margin-bottom: 4vh;
    text-align: justify;
    color: #7FDBFF;
  }
 #block_3{
   height: 65vh;
   margin-top: 5vh;
   border: 1px solid black;
   background-color: grey;
 }